/*
Alexander Maynard 301170707
February 3rd, 2025
Comp308, Lab Assignment 1 
*/

/*App.css */
/*Styles for App.jsx*/

/*App styles*/
.App {
  text-align: center;
  height: 100%;
  background-color: #0b0b0b;
}

/*navbar styles and gradient*/
.navbar-custom {
  background: linear-gradient(to right, rgb(36, 34, 34), rgb(67, 66, 66));
}